language: python
sudo: false

python:
  - '2.7'
  - '3.4'

env:
  - DJANGO_VERSION=1.7.x
  - DJANGO_VERSION=1.6.x

install:
  - pip install tox

script:
  - tox -e "$TRAVIS_PYTHON_VERSION-$DJANGO_VERSION"

after_success:
  - pip install "coveralls==0.4.1" coverage
  - coverage report
  - coveralls
