{% load static markymark %}
<!DOCTYPE html>
    <head>
        <title>Markdown Example</title>
        <link rel="stylesheet" type="text/css" href="{% static "codehilite.css" %}">

        <style>
            body {
                margin: 0;
                padding: 0;
                background: #fff;
                font-family: "Helvetica Neue", "Arial";
            }
        </style>
    </head>
    <body>
        {% if posts %}
            {% for post in posts %}
                {{ post.content|markdown }}
            {% endfor %}
        {% else %}
            no posts found
        {% endif %}
    </body>
</html>
