.md-editor {
	margin-left: 10em;
	width: 640px;
}
.wide .md-editor {
	margin-left: 17.4em;
}
.md-editor .md-preview p {
	margin: inherit;
	padding: inherit;
	font-size: 14px;
}
body.djangocms-admin-style .md-editor {
    margin-left: inherit !important;
    width: auto !important;
}
body.djangocms-admin-style .md-editor .btn {
    padding: 5px 10px !important;
}
body.djangocms-admin-style .md-editor > textarea {
    border-radius: 0 !important;
}
